.mainsect{
    padding-top: .5%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.glyphicon-2x {
    font-size: 16px;
}
#abouttext{
    text-decoration: none;

}
#aboutbuttonwrapper{
    float: right;
    text-decoration-line: none;
    padding-top: 1%;

    width: 10%;
    color: #000000;
    font-size: 16px;

}
#classNum{
    padding-left: 47%;
    padding-right: 47%;
    padding-top: .5%;


}
#secondinput{
    padding-top: .5%;
    padding-left: 40%;
    padding-right: 40%;
}
.navbarpad{
    padding right: 50%;
    width: 20%;
    position: absolute;
}
#restartsect{
    padding-left: 46.5%;
    padding-right: 46.5%;
    width: 100%;

}
#addbar{


}


#inputgroups{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 3%;
}

.progbarstyle{
    padding-top: .5%;
}
#masterprogbarcontainer{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: .5%;
}
#progresscontainer{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: .5%;
}
#aboutpagesect{
    padding-top: .5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#aboutpagesect a{
    text-decoration: none;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
    
}
#aboutpagetitle{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 24px;
}