.mainsect{
    padding-top: .5%;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}
.viga{

    font-family: 'Viga', sans-serif;
}
.glyphicon-2x { 
    font-size: 20px;
}
#abouttext{
    text-decoration: none;

}
#savesect{
    padding-left: 47%;
    padding-right: 45.5%;
    width: 100%;
    padding-bottom: 1%;
}

#classNum{
    padding-left: 47%;
    padding-right: 47%;
    padding-top: .5%;


}
#secondinput{
    padding-top: .5%;
    padding-left: 40%;
    padding-right: 40%;
}
.navbarpad{
    padding-right: 30%;
    width: 40%;
    position: absolute;
}
#restartsect{
    padding-left: 46.5%;
    padding-right: 46.5%;
    width: 100%;

}


#inputgroups{
    padding-left: 40%;
    padding-right: 40%;
    padding-top: 3%;
    min-width: 100px
}
#inputbox{
    min-width: 100px;
}
#scale{
    min-width: 100px;
}

.progbarstyle{
    padding-top: .5%;
}
#masterprogbarcontainer{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: .5%;

}
#progresscontainer{
    padding-left: 30%;
    padding-right: 30%;
    padding-top: .5%;
}
#aboutbuttonwrapper{
    float: right;
    text-decoration-line: none;
    padding-top: 2%;
    width: 10%;
    color: #000000;
    font-size: 20px;
}
#aboutbuttontextwrapper{
    font-family: 'Viga', sans-serif
}
#aboutpagesect{
    padding-top: .5%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
#aboutpageholder{
    padding-left: 28%;
    padding-right: 23%;
}
#description{
    padding-left: 24px
}
.titlesect{
    font-size: 24px;
}
#aboutpagesect a{
    text-indent: 24px;
    text-decoration: none;
    color: #000000;
    margin-left: auto;
    margin-right: auto;
}
#aboutpagetitle{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    font-size: 24px;
}
#backbutton{
    padding-top: 2%;
    position: absolute;
    padding-left: 2%;
}
#backbutton a{
    padding-top: 2%;
    text-decoration: none; 
    color: #000000;
    position: absolute;
}