<!DOCTYPE html>

<link rel="stylesheet" type="text/css" href="../../css/style.css">
<link rel="stylesheet" href="../../css/bootstrap-3.2.0-dist/css/bootstrap.css">
<link href='http://fonts.googleapis.com/css?family=Viga' rel='stylesheet' type='text/css'>
<script src="../../js/jquery.js"></script>
<script src="../../js/mainapp.js"></script>
<!--Script for Google Analytics /-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56420204-1', 'auto');
  ga('send', 'pageview');

</script>
<title>
    About GetMyGpa
</title>

<body>
<div id="backbutton">
    <a href="../../index.html">
        <button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            Back
        </button>
    </a>

</div>
<div id="aboutpagesect">
    <div id="aboutpageholder" class="jumbotron">
        <h2>About GetMyGpa</h2>
    </div>
    <div class="titlesect">
        What is GetMyGpa?
    </div>
    <br>

    <div id="description">
        GetMyGpa is a simple and user-friendly single page application dedicated to aiding students in calculating and
        becoming more aware of their weighted GPA. As of March of 2015, GetMyGpa is used by approximately 200
        students on a regular basis ranging from several High Schools.
    </div>
    <br>
    <br>

    <div class="titlesect">
        How do I use it?
    </div>
    <br>

    <div id="description">
        <ul>
            <li>
                Place your semester grade average for your 1st period class in the
                <i><b>Grade</b></i> box.
            </li>
            <br>
            <li>
                Place your corresponding grade weight in the <i><b> Weight </b></i> box.
                The general weight for corresponding classes are defined below.
                <br>
                <br>
                <table class="table">
                    <th>Weight</th>
                    <th>Class Distinction</th>
                    <tr>
                        <td>6.0</td>
                        <td>Pre-AP/GT</td>
                    </tr>
                    <tr>
                        <td>6.0</td>
                        <td>AP</td>
                    </tr>
                    <tr>
                        <td>6.0</td>
                        <td>IB</td>
                    </tr>
                    <tr>
                        <td>6.0</td>
                        <td>Dual Credit</td>
                    </tr>
                    <tr>
                        <td>5.5</td>
                        <td>Advanced</td>
                    </tr>
                    <tr>
                        <td>5.0</td>
                        <td>Regular</td>
                    </tr>
                </table>
            </li>
            <br>
            <li>
                That class's gpa will be displayed directly underneath, updating as you type.
            </li>
            <br>
            <li>
                Your overall gpa will be displayed in the circle graph, in a circle.
            </li>
            <br>
            <li>
                When you would like to add a class, simply press the <b><i> Add Class </i></b> button or press <i><b>
                Enter</b></i>
            </li>
            <br>
            <li>
                If you need to delete a class, press the delete button<b><i> Delete</i></b>
            </li>
        </ul>
        <br>
    </div>
    <div class="titlesect">
        Developers
    </div>
    <br>
    <div id ="devs">
        <a href="https://github.com/rawells14">
            <p>Ryan Wells
                <span class="label label-primary">
                    Lead Developer
                </span>
            </p>
        </a>
        <br>
        <a href="https://github.com/EpicDavi">
            <p>Davis Robertson
                <span class="label label-info">
                    Beta-Tester
                </span>
            </p>
        </a>
        <br>
        <a href="https://github.com/muinmomin">
            <p>Muin Momin
                <span class="label label-info">
                   Beta-Tester
                </span>
            </p>
        </a>
    </div>
</div>
</body>
</html>
